<% @page_title = "何でも掲示板" %>

<h1><%= link_to @page_title, root_path %></h1>

<div id="new_form">
  <%= form_for @comment do |form| %>
  <%= render "form", f: form %>
  <% end %>
</div>

<div id="search_form">
  <%= form_tag :search_comments, method: :get do %>
  <p><%= text_field_tag "q", params[:q], size: 50 %>
    <%= submit_tag "検索" %></p>
  <% end %>
</div>

<%- if @comments.blank?-%>
  <p>表示するコメントはありません。</p>
<%- else -%>
  <%- @comments.each do |c| -%>
  <div class="comment_wrapper">
    <div class="comment_header">
	<div class="number">[<%= c.id %>]</div>
	<div class="author_info">
	  <span class="name">名前: <%= c.name %></span><br />
	  <span class="mail_address">メールアドレス: <%= c.mail_address %></span>
	  <br />
	  <span class="created_at">投稿日時: <%= c.created_at %></span>
	</div>
    </div>
    <div class="comment_body">
      <p><%= c.comment %></p>
    </div>
  </div>
  <%- end -%>
  <%= will_paginate @comments %>

<%- end -%>

