<table class="attr">
  <tr>
    <th><%= f.label :name, "名前" %></th>
    <td><%= f.text_field :name, size: 50 %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_address, "メールアドレス" %></th>
    <td><%= f.text_field :mail_address, size: 50 %></td>
  </tr>
  <tr>
    <th><%= f.label :comment, "本文" %></th>
    <td><%= f.text_area :comment, size: "50x10" %></td>
  </tr>
</table>
